RAILS_ENV=development
RAILS_MAX_THREADS=5

URL_SHORTENER_DATABASE_PORT=5432
URL_SHORTENER_DATABASE_HOST=127.0.0.1
URL_SHORTENER_DATABASE_USER=postgres
URL_SHORTENER_DATABASE_PASSWORD=password

URL_SHORTENER_REDIS_URL=redis://127.0.0.1:6379